@import url('https://fonts.googleapis.com/css2?family=Aclonica&family=Poppins:wght@300;400;500;600;700&family=Unbounded:wght@300;400;500;600;700&display=swap');
@config '../tailwind.config.js';
@import 'tailwindcss';

.font-aclonica {
  font-family: 'Aclonica', sans-serif;
}

.font-unbounded {
  font-family: 'Unbounded', sans-serif;
}

.font-poppins {
  font-family: 'Poppins', sans-serif;
}

.primary-text {
  color: #346E0D; 
}

.secondary-text {
  color: #611F11;
}


*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: 'Unbounded', sans-serif;
  margin: 0;
  overflow-x: hidden;
  background-color: #ffffff;
}

html {
  scroll-behavior: smooth;
}

.background2 {
  min-height: 100vh;
  padding: 50px;
  background-image: url('./assets/background.png');
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (max-width: 1024px) {
  .background2 {
    min-height: 100vh;
    padding: 24px;
    background-size: cover;
    background-attachment: scroll;
  }
}
